
body {
  background-color: #071e22;
  color: #f4c095;
  font: 16px/28px georgia, serif;
}

.header {
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  background-color: #1d7874;
  position: fixed;
  z-index:2;
}

.content {
  margin: 80px 40px 40px 40px;
  position: relative;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 700px;
  word-wrap: break-word;
  background-color: #679879;
  background-clip: border-box;
  border: 2px solid #1d7874;
  border-radius: 10px;
}

.card h3 {
  font-family: "Times New Roman", Times, serif;
}

.row {
  margin: 10px;
}

.mini-card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 50px;
  word-wrap: break-word;
  background-color: #7adfda;
  background-clip: border-box;
  border: 2px solid #1d7874;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  line-height: 10px;
  color: #ee2e31;
}

.mini-card h1 {
  margin-top: -10px;
}

.image-box {
  margin: 20px auto;
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  border: 1px solid #1d7874;
  border-radius:50px;
}


.image-box h1 {
 margin-top: 30px;
}

.user-list {
  text-align: center;
}

.footer {
  bottom: 0;
  right: 0;
  left: 0;
  height: 25px;
  background-color: #1d7874;
  position: fixed;
}
